<h2>Employee List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.firstName }}</td>
      <td>{{ employee.lastName }}</td>
      <td>{{ employee.emailId }}</td>
      <td>
        <button (click)="updateEmployee(Number(employee.id))" class="btn btn-info text-white">
          Update
        </button>
        <button (click)="deleteEmployee(Number(employee.id))" class="btn btn-danger mx-3 text-white">
          Delete
        </button>
        <button (click)="detailEmployee(Number(employee.id))" class="btn btn-info text-white">
          Detail
        </button>
      </td>
    </tr>
  </tbody>
</table>
